body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* LINKS */
a {
    text-decoration: none;
    color: white;
}

/* HEADER */
.header ul {
    width: 100%;
    height: 10vh;
    font-size: 28px;
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ff9696cc;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* FUNDO */
.fundo {
    padding-top: 12vh;
    min-height: 100vh;
    background-color: #6B1B3C;
    color: white;
}

/* TÍTULO */
.titulo h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    text-align: center;
}

/* BOTÃO CRIAR */
.topo-admin {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}

.btn-criar {
    background-color: #ff9696;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/* TABELA */
.tabela {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff22;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.tabela th {
    background-color: #ff9696;
    padding: 15px;
    font-family: "Pacifico", cursive;
    font-size: 26px;
}

.tabela td {
    padding: 15px;
    text-align: center;
    background-color: #ffffff11;
}

.tabela tr:hover td {
    background-color: #ffffff33;
}

/* LINKS AÇÕES */
.editar {
    color: #a8ffb5;
}

.excluir {
    color: #ff6868;
}

/* RODAPÉ */
.rodape {
    width: 100%;
    height: 10vh;
    background-color: #ff9696;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
}

.rodape ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.rodape li {
    text-align: center;
}

.rodape span {
    display: block;
}
