body
{
    margin: 0;
    height: 100%;

}

a
{
    color: white;
    text-decoration: none;
}

.header ul
{
    width: 100%;
    height: 10vh;
    color: white;
    margin: 0;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: fixed;
    top: 0;
    background-color: #ff9696cc;
}

.fundo
{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #6B1B3C;
}

.titulo
{
    font-size: larger;
    font-family: "Pacifico", cursive;
    text-align: center;
    color: white;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

h2
{
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

p
{
    font-size: larger;
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

.linha
{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding-bottom: 50px;
    align-items: center;
    min-width: 500px;
}

.texto
{
    text-align: left;
    width: 35%;
    color: white;
}

.imagem
{
    width: 40%;
    text-align: right;
    padding-right: 100px;
}

.imagem img
{
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

.linha2
{
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: center;
    padding-bottom: 50px;

}

.texto2
{
    text-align: right;
    width: 35%;
    color: white;
}

.imagem2
{
    width: 40%;
    text-align: left;
    padding-left: 100px;
}

.imagem2 img
{
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

.rodape
{
    width: 100%;
    height: 10vh;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: #ff9696;
    bottom: 0;
    padding: 0 10px;
    flex-wrap: wrap;
}

.rodape ul
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rodape li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodape span {
    display: block;
}
