body {
    margin: 0;
    font-family: "Pacifico", cursive;
}

a {
    color: white;
    text-decoration: none;
}

.header ul {
    width: 100%;
    height: 10vh;
    background-color: #ff9696cc;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

.fundo {
    background-color: #6B1B3C;
    min-height: 100vh;
    padding-top: 15vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-box {
    width: 75%;
    background-color: #ff9696;
    border-radius: 25px;
    padding: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.img-produto {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

.info h1 {
    color: white;
    font-size: 45px;
    margin: 0 0 20px 0;
}

.descricao {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    width: 90%;
}

.preco {
    font-size: 30px;
    color: #6B1B3C;
    margin-bottom: 25px;
    font-weight: bold;
}

.btn-add {
    background-color: #6B1B3C;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 26px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-add:hover {
    background-color: #4a122a;
}

.rodape {
    width: 100%;
    background-color: #ff9696;
    color: white;
    font-size: 20px;
    padding: 20px 0;
}

.rodape ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.rodape li {
    text-align: center;
}
